body {
  margin: 0;
  color: #555;
}

button {
  background: none;
  border: none;
}

.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 16px 16px 60px;
}

/* Write mode enabled */
.realRoot.write .bottomButtons,
.realRoot.write .card input[type='checkbox'],
.realRoot.write .toolbar .remove,
.realRoot.write .toolbar .capture,
.realRoot.write .toolbar .drawing {
  display: flex;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;

  width: 300px;
  height: 300px;
  padding: 10px;
  margin: 10px;

  box-shadow: 0 0 9px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card canvas {
  position: absolute;
  object-fit: cover;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}

.card svg {
  width: 60%;
  height: 60%;
  margin-bottom: 15px;

  color: #7cf;
}

.card input[type='checkbox'] {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 18px;
  width: 18px;
  z-index: 1;
  display: none;
}

.modal,
.folderModal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.95);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s;
  user-select: none;
}

.modal .imageContainer {
  width: 100%;
  height: 100%;
  max-width: calc(100vw - 2em);
  max-height: calc(100vh - 2em);
  display: flex;
  justify-content: center;
  user-select: none;
}

.modal .imageContainer .wrapper {
  position: relative;
  display: flex;
}

.modal .imageContainer .mainCanvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  width: 100%;
  /* height: 100%; */

  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.modal .image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

#cursor {
  outline: 1px solid black;
  border-radius: 100%;
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  pointer-events: none;
  z-index: 9;
}

.modal .icon {
  color: white;
  cursor: pointer;
  padding: 8px;
  margin: 7px;
  border-radius: 5px;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.8));
}

.modal .toolbar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 1;
}

.modal .toolbar .buttons {
  display: flex;
}

.modal .toolbar .remove,
.modal .toolbar .capture,
.modal .toolbar .drawing {
  display: none;
}

.modal #stats {
  margin-bottom: 8px;
}

.modal .paletteContainer {
  position: absolute;
  bottom: 14px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: opacity 0.25s;
  opacity: 0;
  z-index: 3;
  pointer-events: none;
}

.modal #palette {
  opacity: 0;
}

.modal #palette .swatch {
  max-width: 4vw;
  max-height: 4vw;
}

.modal #palette,
.modal #stats {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 6px;
  box-shadow: 0 0 10px black;
}

.modal #sizeSlider {
  pointer-events: all;
  margin-top: 1em;
}

.modal .pagerContainer {
  position: absolute;
  bottom: 4px;
  z-index: 2;
  height: 5em;
  width: 100vw;
  overflow: hidden;
}

.modal .pager {
  display: flex;
  height: calc(100% - 8px);
  padding: 4px;
  overflow-x: auto;

  background: rgba(0, 0, 0, 0.5);
  opacity: 0.75;
}

.modal .pager .pagerWrapper {
  position: relative;
  outline: 2px solid #999;
  margin: 0 6px;
  overflow: hidden;
  min-width: fit-content;
}

.modal .pager img {
  height: calc(100% - 4px);
  object-fit: contain;
}

.modal .pager canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}

.modal .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;

  width: 60px;
  height: 60px;
  color: white;

  animation: 2s linear 0s infinite running spin;
}

.modal .left {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  z-index: 1;
}

.modal .right {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  z-index: 1;
}

.folderModal {
  background: rgba(255, 255, 255, 0.4);
  font-size: 20px;
}

.folderModal .content {
  min-width: min(300px, 85vw);
  max-width: min(300px, 85vw);

  padding: 16px;

  background: white;
  box-shadow: 4px 4px 6px rgb(0 0 0 / 15%);

  border: 1px solid #ccc;
  border-radius: 4px;
}

.folderModal .icon {
  cursor: pointer;
  padding: 0;
}

.folderModal .closeWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.folderModal .folders {
  margin-bottom: 24px;
  overflow: auto;
  max-height: 70vh;
}

.folderModal .folders .dir,
.folderModal .newFolder button {
  display: flex;
  padding: 6px 8px;
  margin: 10px 0;
  border-radius: 4px;
  cursor: pointer;
  background: #6b8;
  color: white;
}

.folderModal .folders .dir svg {
  margin-right: 8px;
}

.folderModal .newFolder {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.folderModal .newFolder input,
.folderModal .newFolder button {
  font-size: 20px;
}

.folderModal .newFolder input {
  margin-right: 8px;
  border-radius: 4px;
  padding: 4px;
  width: 100%;
}

.ui {
  transition: opacity 0.5s;
}

.ui.hidden {
  opacity: 0;
  pointer-events: none;
}

.bottomButtons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;

  display: none;
}

.bottomButtons .selection {
  display: none;
}

.bottomButtons .move {
  background: #6b8;
}

.bottomButtons .delete {
  background: #c66;
}

.bottomButtons .unselect {
  background: #555;
}

.bottomButtons button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 12px;
  margin-left: 16px;
  border-radius: 100%;

  color: white;
  background: #7cf;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);

  transition: all 0.5s;

  cursor: pointer;
}

.refresh svg {
  width: 30px;
  height: 30px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 700px) {
  .card {
    width: 130px;
    height: 130px;
  }

  .modal {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    padding: 15px;
  }

  .modal .toolbar {
    top: 0;
    right: 0;
  }

  .card input[type='checkbox'] {
    height: 22px;
    width: 22px;
  }
}
